
.mainpage{
        background-image: url("/img/manta.png");
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        overflow: hidden;
    }
    
.mainpage img{
       width: 130%;
}

.mainpage img{
   width: 130%;
}

#navbarMenu{
    margin-right: 5%;
}
#navbarMenu li{
    margin-left: 3%;
}
#logoEncabezado{
    width: 8%;
    height: 8%;
}
.logo2{
    width: 20%;
    height: 20%;
}
#degradado1{
    color:#8e8b8c;
}
i{
    width: 30%;
}
#buttonInfo{
    margin-top: 98%;
    margin-left: 43%;
    border-radius: 20px;
    color: #8e8b8c;
}
#buttonInfo:hover{
    color: white;
    background-color: #464445;
}
#buttonInfo>:hover{
    color: white;   
    background-color: #464445;
}
.bodyC{
background-color: rgb(0, 0, 0);
}
.bodyAleron{
    overflow: hidden;
    background-color: black;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/852/926/500/line-background-black-texture-wallpaper-preview.jpg");
}
.panel{
    background-color: #313131;
    padding-bottom: 40%;
    margin-bottom: -47%;
    opacity: 20%;
    border-radius: 20px;
}
.panelPrincipal{
    background-color: #313131;
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 43%;
    border-radius: 15px;
    
}
.panelMenu{
    opacity: 100%;
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 43%;
    margin-bottom: -80%;
}
.opcionesModificar img{
    width: 5%;
    margin-top: 5%;
}
#asiento{
    width:5%;
}
#motor{
    width:3%;
}
#llanta{
    width: 3%;
}
#llanta{
    width: 3%;
}
.encabezadoConfigurador{
    background-color: #929292ec;
    text-align: center;
    }
#optionsToModify{
    text-align: center;
}
.btnCard{
    margin-left: 35%;
}
.cardOption{
    margin-top: 50%;
}
#carouselExampleControls{
    width: 50%;
    margin-left: 25%;
}
.efectoo{
    margin-right: 200%;
}
.mainpageAbout{
    background-color: black;
    background-image: url("https://img.freepik.com/fotos-premium/textura-pared-negra-fondo-aspero-piso-concreto-oscuro-o-fondo-grunge-antiguo-negro_263512-1855.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }
    
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
#cardPic{
    height: 98%;
    width: 50%;
    margin-left: 28%;
}
.juntarCard{
    margin-left: -50%;
}
#fotoLogoMedio{
    width: 7%;
    height: 7%;
    margin-top: 10%;
    opacity: 15%;
}
.modal-content {
    width: 80%;
    margin: 0 auto;
  }
  .modal-body {
    padding: 0;
  }
  .btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
  }
  h1 {
    font-size: 2.3em;
    font-weight: bold;
  }
  .myform {
    padding: 2em;
    max-width: 100%;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  }
  @media (max-width: 576px) {
    .myform {
      max-width: 90%;
      margin: 0 auto;
    }
  }
  .form-control:focus {
    box-shadow: inset 0 -1px 0 #7e7e7e;
  }
  .form-control {
    background-color: inherit;
    color: #fff;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
  }
  .myform .btn {
    width: 100%;
    font-weight: 800;
    background-color: #fff;
    border-radius: 0;
    padding: 0.5em 0;
  }
  .myform .btn:hover {
    background-color: inherit;
    color: #fff;
    border-color: #fff;
  }
  p {
    text-align: center;
    padding-top: 2em;
    color: grey;
  }
  p a {
    color: #e1e1e1;
    text-decoration: none;
  }
  p a:hover {
    color: #fff;
  }





